body {
    background-color: #343a40;
    color: white;
}

body a {
    color: #ffdd00;
    font-weight: bold;
}

body a:hover {
    color: #fffdc0;
}

.subtitle {
    color: #fffdc0;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
}