FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=8080
FLASK_DEBUG=true
SECRET_KEY="SOME-SECRET-KEY"

SQLALCHEMY_DATABASE_URI=postgresql://postgres:patata@127.0.0.1:54330/postgres

HASHID_SALT=some-random-string

GMAIL_ACCOUNT="some.account@gmail.com"
GMAIL_PASSWORD="password of some.account@gmail.com"
GMAIL_ADMIN_MAILBOXES="some@mail.com,another@mail.com"

TASKS_PAUSE=30

EXCEL_RELATIVE_PATH_FROM_STATIC="/../xlsx/"
EXCEL_TEMPLATE="template.xlsx"

PARAM_EXTERNAL_URL="http://127.0.0.1:8080"
PARAM_INVITATION_TOKEN="EMPTY-TO-ALLOW-EVERYONE-TO-SIGN-UP"
PARAM_ENABLE_APP=true
PARAM_ALLOW_MODIFICATIONS=true
PARAM_ALLOW_VOLUNTEERS=true

REWARDS_CLASS="Rewards18Edition"
BARRES_INFORMATION_MEETING_OPTIONS="Dimarts 21/07 12h,Dimarts 21/07 19h,Dimecres 22/07 12h,Dimecres 22/07 19h,No puc cap horari"
ENTRADES_INFORMATION_MEETING_OPTIONS="Dimecres 22/07 19h,No puc en aquest horari"