{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% from "_form_macros.html" import text with context %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h2>{% block title %}Nova persona treballadora{% endblock %}</h2>
      <h2><small class="text-muted">Dona d'alta una nova persona treballadora</small></h2>
      <form role="form" method='POST'>
        {{ form.csrf_token }}
        {{ text(form.name, placeholder="Nom de la nova persona treballadora") }}
        {{ text(form.place, placeholder="Lloc de la nova persona treballadora") }}
        <div class="btn-group">
          <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrera</a>
          {{ form.submit(class='btn btn-success') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
