{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Administració</h2>
        <h2><small class="text-muted">{% block title %}Torn{% endblock %}</small></h2>
        {% set n_assignations = shift.assignations|length() %}
        <form role="form" method='POST'>
            {{ form.csrf_token }}
            <div class="table-responsive">
                <table class="table table-light table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th colspan="{{ 5 + n_assignations}}">
                                {{task.name}}: {{task.description}}
                            </th>
                        </tr>
                        <tr>
                            <th colspan="5">
                                {{shift.name}}: {{shift.description}} {{"[" + shift.reward|string() + " €]" if shift.reward > 0}}
                            </th>
                            {% for name in shift.assignations %}
                            <th class="text-secondary text-center">{{ name }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>COGNOMS</th>
                            <th>NOM</th>
                            <th>EMAIL</th>
                            <th>MÒBIL</th>
                            <th>OBS TORN</th>
                            {% for n in range(n_assignations) %}
                            <th id="checkbox-{{n}}" class="text-secondary text-center">-</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for (u,us) in users_with_shifts %}
                            <tr>
                                <td>{{u.surname}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.email}}</td>
                                <td>{{u.phone}}</td>
                                <td>{{us.comments}}</td>
                                {% for checked in us.shift_assignations %}
                                <td class="td-with-checkbox">
                                    <label><input class="checkbox-{{loop.index0}}" type="checkbox" 
                                        name="assignations-{{loop.index0}}" value="{{u.id}}"
                                        {{"checked" if checked}} onclick="update_count('checkbox-{{loop.index0}}')"/></label>
                                </td>                            
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br />
            <div class="btn-group">
                <a class="btn btn-secondary" href="/admin/tasks/{{task.id}}"> &#x3c;&#x3c; Torna enrera</a>
                {% if n_assignations > 0 %}
                {{ form.submit(class='btn btn-success') }}
                {% endif %}
                <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
            </div>
        </form>
        <script>
            $(document).ready(function(){
                for (let i = 0; i < {{n_assignations}}; i++) {
                    update_count('checkbox-' + i);
                }
             });
         </script>
    </div>
</div>  
{% endblock %}
