{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Administració</h2>
        <h2><small class="text-muted">{% block title %}Àpats i dietes{% endblock %}</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th>DIA</th>
                        <th>NOM</th>
                        <th>DESCRIPCIÓ</th>
                        <th>QUANTITAT</th>
                        <th>EXCEL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m,q in meals_and_quantity %}
                    <tr>
                        <td><a href='/admin/meals/{{m.id}}'>{{m.day}}</a></td>
                        <td><a href='/admin/meals/{{m.id}}'>{{m.name}}</a></td>
                        <td><a href='/admin/meals/{{m.id}}'>{{m.description}}</a></td>
                        <td><a href='/admin/meals/{{m.id}}'>{{0 if q is none else q}}</a></td>
                        <td><a href='/admin/meals/{{m.id}}?excel=1'><img src="/static/img/excel-icon.png" alt="Excel"/></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
        <div class="btn-group">
            <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrere</a>
            <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
        </div>
    </div>
</div>  
{% endblock %}
