{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% from "_form_macros.html" import text, textarea with context %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h3>{% block title %}Missatge{% endblock %}</h3>
    <h3><small class="text-muted">{{ volunteer.full_name }}</small></h3>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      {{ text(form.subject) }}
      {{ textarea(form.body, rows=8) }}
      <div class="btn-group">
        <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
        {{ form.submit(class='btn btn-success') }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
