{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <h2>Administració</h2>
        <h2><small class="text-muted">{% block title %}Persones Voluntàries{% endblock %}</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>COGNOMS</th>
                        <th>NOM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in volunteers %}
                    <tr>
                        <td><a href='/admin/volunteers/{{v.hashid}}'>{{v.surname}}</a></td>
                        <td><a href='/admin/volunteers/{{v.hashid}}'>{{v.name}}</a></td>
                    </tr>   
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="btn-group">
            <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrera</a>
            <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
        </div>
    </div>
</div>  
{% endblock %}
