{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <h3>Administració</h3>
        <h3><small class="text-muted">{% block title %}Recompenses{% endblock %}</small></h3>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>TODO</th>
                        <th>TODO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TODO</td>
                        <td>TODO</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="btn-group">
            <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrera</a>
            <a class="btn btn-primary" href="#">Descarrega en format Excel</a>
        </div>
    </div>
</div>  
{% endblock %}
