{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Administració</h2>
        <h2><small class="text-muted">{% block title %}Tiquets de consum{% endblock %}</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th>COGNOMS</th>
                        <th>NOM</th>
                        <th>EMAIL</th>
                        <th>MÒBIL</th>
                        <th>TIQUETS DE CONSUM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (u,cash) in users_with_cash %}
                        <tr>
                            <td>
                                <a href="/admin/p/{{ u.hashid }}/rewards?back={{request.path}}">
                                    {{u.surname}}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/p/{{ u.hashid }}/rewards?back={{request.path}}">
                                    {{u.name}}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/p/{{ u.hashid }}/rewards?back={{request.path}}">
                                    {{u.email if not u.is_worker}}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/p/{{ u.hashid }}/rewards?back={{request.path}}">
                                    {{u.phone}}
                                </a>
                            </td>
                            <td>
                                <a href="/admin/p/{{ u.hashid }}/rewards?back={{request.path}}">
                                    {{cash}} €
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
        <div class="btn-group">
            <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrere</a>
            <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
            <a class="btn btn-info" href="/admin/excel_tickets_and_rewards">Excel amb les entrades</a>
        </div>
    </div>
</div>  
{% endblock %}
