{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Administració</h2>
        <h2><small class="text-muted">{% block title %}Àpat{% endblock %}</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th colspan="8">
                            {{meal.name}}: {{meal.description}}
                        </th>
                    </tr>
                    <tr>
                        <th>COGNOMS</th>
                        <th>NOM</th>
                        <th>OBS ÀPAT</th>
                        <th>VEGANA</th>
                        <th>VEGETARIANA</th>
                        <th>SENSE GLUTEN</th>
                        <th>SENSE LACTOSA</th>
                        <th>OBS DIETA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (u,ud,um) in users_with_diet_and_meals %}
                        <tr>
                            <td>{{u.surname}}</td>
                            <td>{{u.name}}</td>
                            <td>{{um.comments}}</td>
                            <td>{{"X" if ud.vegan}}</td>
                            <td>{{"X" if ud.vegetarian}}</td>
                            <td>{{"X" if ud.no_gluten}}</td>
                            <td>{{"X" if ud.no_lactose}}</td>
                            <td>{{ud.comments}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
        <div class="btn-group">
            <a class="btn btn-secondary" href="/admin/meals"> &#x3c;&#x3c; Torna enrere</a>
            <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
        </div>
    </div>
</div>  
{% endblock %}
