{% extends '_registered.html' %}

{% from "_form_macros.html" import select, textarea with context %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h2>{% block title %}Incidència{% endblock %}</h2>
      <form role="form" method='POST'>
        {{ form.csrf_token }}
        {{ select(form.type, "Tipus d'incidència") }}
        {{ textarea(form.description, "Descripció de la incidència", rows=8) }}
        <div class="btn-group">
          <a class="btn btn-secondary" href="/dashboard"> &#x3c;&#x3c; Torna enrera</a>
          {{ form.submit(value="Envia la incidència", class='btn btn-success') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
