{% extends '_unregistered.html' %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h1>{% block title %}Canvia la contrasenya{% endblock %}</h1>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(placeholder='la teva nova contrasenya',class='form-control') }}
        {% for error in form.password.errors %}
          <p class="form-error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.confirm.label }}
        {{ form.confirm(placeholder='escriu de nou la teva nova contrasenya',class='form-control') }}
        {% for error in form.confirm.errors %}
          <p class="form-error">{{ error }}</p>
        {% endfor %}
      </div>
      {{ form.submit(class='btn btn-lg btn-success') }}
    </form>
    <p>
      <!-- No tens un compte? <a href="/sign-up">Registra't</a>. -->
      <br />
      Recordes la teva contrasenya? <a href="/login">Entra</a>
      <br />
      Problemes, dubtes? <a href="/contact">Contacta amb nosaltres</a>
    </p>
  </div>
</div>
   
{% endblock %}
