{% extends '_unregistered.html' %}

{% from "_form_macros.html" import checkbox, text with context %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h1>{% block title %}Registra't{% endblock %}</h1>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      {{ text(form.name, "Nom", placeholder="el teu nom") }}
      {{ text(form.surname, "Cognoms", placeholder="primer cognom i segon cognom") }}
      {{ text(form.email, "Email", placeholder="el@teu.email") }}
      {{ text(form.phone, "Mòbil", placeholder="opcional, per tal millorar la comunicació") }}
      {{ checkbox(form.adult, "Soc major d'edat", description="Has de confirmar que ets major d'edat per poder col·laborar amb El Tingladu") }}
      {{ checkbox(form.store_email,  "Accepto rebre emails d'El Tingladu i que el meu email sigui emmagatzemat per a futurs esdeveniments", description = "Necessari per col·laborar com a voluntariat amb els esdeveniments organitzats per El Tingladu. Tota la resta de dades personals (nom, cognoms i telèfon) s'esborren en acabar aquest esdeveniment") }}
      {{ text(form.dni, "DNI", placeholder="DNI obligatori per validar el contracte de voluntariat") }}
      <p><a target="_blank" href="/static/pdf/ACORD_VOLUNTARIAT_CANPISTRAUS_REVISAT_23.pdf">Contracte de voluntariat</a></p>
      {{ checkbox(form.contract, "Accepto l'acord de col·laboració voluntària amb El Tingladu", description = "És necessari el teu DNI perquè tingui validesa el contracte de Voluntariat") }}
      {{ checkbox(form.data_protection, "He llegit i accepto la política de privacitat ") }}
      {{ form.submit(value = "Registra't", class='btn btn-lg btn-success') }}
    </form>
    <p>
      <br />
      Ja tens un compte? <a href="/login">Entra</a>
      <br />
      Has oblidat la contrasenya? <a href="/forgotten-password">Restaura la teva contrasenya</a>
      <br />
      Problemes, dubtes? <a href="/contact">Contacta amb nosaltres</a>
    </p>
  </div>
</div>
   
{% endblock %}
