{% extends '_unregistered.html' %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h3>{% block title %}Restaura la contrasenya{% endblock %}</h3>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.email.label }}
        {{ form.email(placeholder='el@teu.email',class='form-control') }}
        {% for error in form.email.errors %}
          <p class="form-error">{{ error }}</p>
        {% endfor %}
      </div>
      {{ form.submit(class='btn btn-lg btn-warning') }}
    </form>
    <p>
      <!-- No tens un compte? <a href="/sign-up">Registra't</a>. -->
      <br />
      Recordes la teva contrasenya? <a href="/login">Entra</a>
      <br />
      Problemes, dubtes? <a href="/contact">Contacta amb nosaltres</a>
    </p>
  </div>
</div>
   
{% endblock %}
