{% extends '_unregistered.html' %}

{% from "_form_macros.html" import checkbox, text with context %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h1>{% block title %}Registra't{% endblock %}</h1>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      {{ text(form.name, placeholder="el teu nom") }}
      {{ text(form.surname, placeholder="primer cognom i segon cognom") }}
      {{ text(form.email, placeholder="el@teu.email") }}
      {{ text(form.phone, placeholder="opcional, per tal millorar la comunicaci") }}
      {{ checkbox(form.adult) }}
      {{ checkbox(form.store_email) }}
      {{ form.submit(class='btn btn-lg btn-success') }}
    </form>
    <p>
      <br />
      Ja tens un compte? <a href="/login">Entra</a>
      <br />
      Problemes, dubtes? <a href="/contact">Contacta amb nosaltres</a>
    </p>
  </div>
</div>
   
{% endblock %}
