{% extends '_unregistered.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h3>{% block title %}Contacte{% endblock %}</h3>
      <br />
      <div>
        <p>Si ja tens un compte, per contactar el més fàcil és <a href="/login?next=/incidence">entrar i notificar una incidència</a>.</p>
        <p>En cas contari, ens pots escriure a la nostra adreça d'email <a href="mailto:{{contact_email}}">{{contact_email}}</a></p>
      </div>
  </div>
</div>
{% endblock %}
