{% extends '_registered.html' %}

{% block content %}
<!-- {% block title %}Inici{% endblock %} -->
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <h2>Voluntariat</h2>
        <h2><small class="text-muted">Concert 15è aniversari</small></h2>
        {% if user.is_admin %}
            <div class="card">
                <div class="card-body bg-admin">
                    <h2 class="card-title">Administració</h2>
                    <p class="card-text">Consulta les dades introduïdes, modifíca-les i fes exportacions a excel.</p>
                    <a class="btn btn-lg btn-dark text-admin" href="/admin">Administra les dades introduïdes</a>
                </div>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body bg-profile text-white">
                <h2 class="card-title">Les teves dades personals</h2>
                <p class="card-text">Visualitza i/o modifica les teves dades personals, com són el nom, cognoms, el teu email i el teu telèfon mòbil. També pots canviar la teva contrasenya.</p>
                <a class="btn btn-lg btn-light text-profile" href="/p/{{user.hashid}}/profile">Les teves dades personals</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-task text-white card-text">
                <h2 class="card-title">Tasques i torns</h2>
                <p>Registra la teva disponibilitat indicant els torns on pots dur a terme fer les diferents tasques que fan possible El Tingladu.</p>
                
                {% if shifts %}
                <dl>
                    {% for name in shifts %}
                    <dt>{{name}}</dt>
                    {% endfor %}
                </dl>
                {% else %}
                <p class="font-italic">No hi ha tasques assignades i/o seleccionades</p>
                {% endif %}
                <a class="btn btn-lg btn-light text-task" href="/p/{{user.hashid}}/tasks">Les teves tasques i torns</a>
            </div>
        </div>
        <div class="card">
            {% if user.has_shifts %}
                <div class="card-body bg-meal text-white card-text">
                    <h2 class="card-title">Àpats i característiques de la teva dieta</h2>
                    <p>Indica quins àpats faràs i notifica les característiques de la teva dieta, indicant al·lèrgies, intol·leràncies i/o d'altres dades importants.</p>
                    {% if meals %}
                    <dl>
                        {% for name in meals %}
                        <dt>{{name}}</dt>
                        {% endfor %}
                    </dl>
                    {% else %}
                    <p class="font-italic">No hi ha àpats assignats i/o seleccionats</p>
                    {% endif %}
                    <a class="btn btn-lg btn-light text-meal" href="/p/{{user.hashid}}/meals">Els teus àpats i la teva dieta</a>
                </div>
            {% else %}
                <div class="card-body bg-meal text-white-50" data-toggle="tooltip" 
                    title="Abans d'accedir a aquesta secció has de completar les Tasques i Torns">
                    <h2 class="card-title">Àpats i característiques de la teva dieta</h2>
                    <p class="card-text">Indica quins àpats faràs i notifica les característiques de la teva dieta, indicant al·lèrgies, intol·leràncies i/o d'altres dades importants.</p>
                    <a class="btn btn-lg btn-light text-black-50 disabled" href="#">Els teus àpats i la teva dieta</a>
                </div>
            {% endif %}
        </div>
        <div class="card">
            {% if user.has_shifts %}
                <div class="card-body bg-ticket text-white card-text">
                    <h2 class="card-title">Entrades i recompenses</h2>
                    <p>Visualitza les entrades i/o les acreditacions assignades segons les teves tasques i torns.</p>
                    {% if tickets %}
                    <dl>
                        {% for name in tickets %}
                        <dt>{{name}}</dt>
                        {% endfor %}
                    </dl>
                    {% else %}
                    <p class="font-italic">No hi ha entrades assignades i/o seleccionades</p>
                    {% endif %}
                    <a class="btn btn-lg btn-light text-ticket" href="/p/{{user.hashid}}/rewards">Les teves entrades i recompenses</a>
                </div>
            {% else %}
                <div class="card-body bg-ticket text-white-50" data-toggle="tooltip" 
                title="Abans d'accedir a aquesta secció has de completar les Tasques i Torns">
                    <h2 class="card-title">Entrades i recompenses</h2>
                    <p class="card-text">Visualitza les entrades i/o les acreditacions assignades segons les teves tasques i torns.</p>
                    <a class="btn btn-lg btn-light text-black-50 disabled" href="#">Les teves entrades i recompenses</a>
                </div>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-body bg-danger text-white">
                <h4 class="card-title">Incidència</h4>
                <p class="card-text">Notifica'ns qualsevol problema o comentari que tinguis.</p>
                <a class="btn btn-lg btn-light text-danger" href="/incidence">Notifica una incidència</a>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
