{% extends '_registered.html' %}

{% set admin = request.path.startswith('/admin') %}

<!--
{% block admin_css %}
{% if admin %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Tasques{% endblock %}</h2>
    <h2><small class="text-muted">{{ volunteer.full_name }}</small></h2>
    <div class="list-group">
      {% for t,n in tasks_and_number_of_shifts %}
        <a href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}/tasks/{{t.hashid}}" 
          class="list-group-item {% if n>0 %}list-group-item-success {% endif %}">
          <h4>{{t.name}}</h4> 
          <h4><small>{{t.description}}</small></h4>
          <h4><span class="badge badge-info">torns seleccionats: {{n}}</span></h4>
        </a>
      {% endfor %}
    </div>
    <br />
    <a class="btn btn-secondary" href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrere</a>
  </div>
</div>
{% endblock %}
