{% extends '_registered.html' %}

<!--
{% block admin_css %}
{% if user.id != volunteer.id %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% from "_form_macros.html" import checkbox, textarea with context %}


{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Entrades i recompenses{% endblock %}</h2>
    <h2><small class="text-muted">{{ volunteer.full_name }}</small></h2>
    <hr />
    <h4>Les teves entrades</h4>
    <h4><small class="text-muted">Entrades assignades segons les teves tasques i torns</small></h4>
    <form role="form" method='POST' class="{{'text-secondary' if read_only }}">
      {{ tickets_form.csrf_token }}
      {% if tickets_form.ticket_ids %}
      <dl>
        {% for id in tickets_form.ticket_ids %}
          <dt class="text-ticket">{{tickets_form["selected-"+ id].label.text }}</dt>
        {% endfor %}
      </dl>
      <!-- {% if not read_only %}
      {{ tickets_form.submit(class='btn btn-success') }}
      {% endif %} -->
      {% else %}
        <p class="font-italic text-ticket">No hi ha entrades assignades</p>
      {% endif %}
    </form>
    <hr />
    <h4>Les teves recompenses</h4>
    <h4><small class="text-muted">Recompenses assignades segons les teves tasques i torns</small></h4>
    {% if cash_details %}
      <dl>
        {% for d in cash_details %}
          <dt class="font-weight-normal text-ticket">{{d}}</dt>
        {% endfor %}
      </dl>
      {% if cash > 0 %}
        <p class="font-weight-bolder text-ticket">Total: {{cash}} € en tiquets de consum</p>
      {% endif %}
    {% else %}
      <p class="font-italic text-ticket">No hi ha recompenses assignades</p>
    {% endif %}
    <hr />
    <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
  </div>
</div>
{% endblock %}
