{% extends '_registered.html' %}

<!--
{% block admin_css %}
{% if user.id != volunteer.id %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% from "_form_macros.html" import checkbox, checkbox_with_comments, textarea with context %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h3>{% block title %}Àpats i dieta{% endblock %}</h3>
    <h3><small class="text-muted">{{ volunteer.full_name }}</small></h3>
    <hr />
    <h5>Els teus àpats</h5>
    <h5><small class="text-muted">Si aquest dia no faràs un d'aquests àpats a la cuina d'El Tingladu, desmarca la casella per evitar el malbaratament alimentari.</small></h5>
    <form role="form" method='POST' class="{{'text-secondary' if read_only }}">
      {{ meals_form.csrf_token }}
      {% for id in meals_form.ids %}
        {{ checkbox_with_comments(meals_form["selected-"+ id], meals_form["comments-" + id], read_only=read_only)}}
      {% endfor %}
      {% if not read_only %}
      {{ meals_form.submit(class='btn btn-success') }}
      {% endif %}
    </form>
    <hr />
    <h5>La teva dieta</h5>
    <h5><small class="text-muted">Notifica les característiques de la teva dieta, indicant al·lèrgies, intol·leràncies i altres dades importants.</small></h5>
    <form role="form" method='POST' class="{{'text-secondary' if read_only }}">
      {{ diet_form.csrf_token }}
      {{ checkbox(diet_form.vegan, read_only = read_only)}}
      {{ checkbox(diet_form.vegetarian, read_only = read_only)}}
      {{ checkbox(diet_form.no_gluten, read_only = read_only)}}
      {{ checkbox(diet_form.no_lactose, read_only = read_only)}}
      {{ textarea(diet_form.comments, rows = 3, read_only = read_only)}}
      {{ checkbox(diet_form.accept_conditions, 
          description = """
          Us demanem que:
          <br>
          - Si marques vegetarià o vegà, quan demaneu l'àpat, ho recordeu al voluntariat de cuina. 
          <br>
          - Si no has marcat vegetarià o vegà, no t'acullis a aquesta oferta el dia.
          <br>
          - Si tens alguna al·lèrgia o intolerància, confirmis amb el voluntariat de cuina que el plat que menges no conté aquest(s) ingredient(s). 
          """,
          read_only = read_only
        )
      }}
      {% if not read_only %}
      {{ diet_form.submit(class='btn btn-success') }}
      {% endif %}
    </form>
    <hr />
    <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
  </div>
</div>
{% endblock %}
