{% extends '_registered.html' %}

{% set admin = request.path.startswith('/admin') %}

<!--
{% block admin_css %}
{% if admin %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% from "_form_macros.html" import checkbox, textarea with context %}


{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Entrades, acreditacions i recompenses{% endblock %}</h2>
    <h2><small class="text-muted">{{ volunteer.full_name }}</small></h2>
    <hr />
    <h4>Les teves entrades i acreditacions</h4>
    <h4><small class="text-muted">Entrades i/o acreditacions assignades segons les teves tasques i torns</small></h4>
    {% if tickets %}
    <br />
    <dl>
      {% for t in tickets %}
        <dt class="text-ticket">{{t.name}}</dt>
      {% endfor %}
    </dl>
    {% else %}
      <p class="font-italic text-ticket">No hi ha entrades o acreditacions assignades.</p>
    {% endif %}
    <hr />
    <h4>Les teves recompenses</h4>
    <h4><small class="text-muted">Recompenses assignades segons les teves tasques i torns</small></h4>
    {% if cash_details %}
      <br />
      <dl>
        {% for (label, c) in cash_details %}
          <dt class="font-weight-normal text-ticket">{{label}}: {{ "pendent d'assignació" if c is none else "{0:d} €".format(c)}}</dt>
        {% endfor %}
      </dl>
      {% if cash > 0 %}
        <p class="font-weight-bolder text-ticket">Total: {{cash}} € en tiquets de consum</p>
      {% endif %}
    {% else %}
      <p class="font-italic text-ticket">No hi ha recompenses assignades.</p>
    {% endif %}
    <hr />
    <a class="btn btn-secondary" href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
  </div>
</div>
{% endblock %}
