{% extends '_registered.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h3>{% block title %}Canvi de contrasenya{% endblock %}</h3>
      <h3><small class="text-muted">{{ volunteer.full_name }}</small></h3>
      <form role="form" method='POST'>
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.old_password.label }}
          {{ form.old_password(placeholder='la teva contrasenya actual',class='form-control') }}
          {% for error in form.old_password.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.new_password.label }}
          {{ form.new_password(placeholder='la teva nova contrasenya',class='form-control') }}
          {% for error in form.new_password.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form.confirm.label }}
          {{ form.confirm(placeholder='escriu de nou la teva nova contrasenya',class='form-control') }}
          {% for error in form.confirm.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="btn-group">
          <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}/profile"> &#x3c;&#x3c; Torna enrera</a>
          {{ form.submit(class='btn btn-success') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
