{% extends '_registered.html' %}

{% set admin = request.path.startswith('/admin') %}

<!--
{% block admin_css %}
{% if admin %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% from "_form_macros.html" import checkbox, checkbox_with_comments, textarea with context %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Àpats i dieta{% endblock %}</h2>
    <h2><small class="text-muted">{{ volunteer.full_name }}</small></h2>
    <hr />
    <h4>Els teus àpats</h4>
    <h4><small class="text-muted">Si aquest dia no faràs un d'aquests àpats a la cuina d'El Tingladu, desmarca la casella per evitar el malbaratament alimentari.</small></h4>
    <form role="form" method='POST' class="{{'text-secondary' if read_only }}">
      {{ meals_form.csrf_token }}
      {% if meals_form.meal_ids %}
        <br />
        {% for id in meals_form.meal_ids %}
          {{ checkbox_with_comments(meals_form["selected-"+ id], meals_form["comments-" + id], placeholder="Comentaris", read_only=read_only)}}
        {% endfor %}
        {% if not read_only %}
          {{ checkbox(meals_form.accept_conditions_meals, "Entenc que la cuina d'El Tingladu tindrà en compte les meves especificitats alimentàries, però es podrà garantir una adaptació completa a cada dieta",
              description = """
              Us demanem que:
              <br>
              - Si marques vegetarià o vegà, quan demaneu l'àpat, ho recordeu al voluntariat de cuina. 
              <br>
              - Si no has marcat vegetarià o vegà, no t'acullis a aquesta oferta el dia.
              <br>
              - Si tens alguna al·lèrgia o intolerància, confirmis amb el voluntariat de cuina que el plat que menges no conté aquest(s) ingredient(s). 
              """,
              read_only = read_only
            )
          }}
          {{ meals_form.submit(value="Actualitza els teus àpats", class='btn btn-success') }}
        {% endif %}
      {% else %}
        <p class="font-italic text-meal">No hi ha àpats assignats</p>
      {% endif %}
    </form>
    <hr />
    <h4>La teva dieta</h4>
    <h4><small class="text-muted">Notifica les característiques de la teva dieta, indicant al·lèrgies, intol·leràncies i altres dades importants.</small></h4>
    <form role="form" method='POST' class="{{'text-secondary' if read_only }}">
      {{ diet_form.csrf_token }}
      {% if meals_form.meal_ids %}
        <br />
        {{ checkbox(diet_form.vegan, "Dieta vegana", read_only = read_only)}}
        {{ checkbox(diet_form.vegetarian, "Dieta vegetariana", read_only = read_only)}}
        {{ checkbox(diet_form.no_gluten, "Dieta sense gluten", read_only = read_only)}}
        {{ checkbox(diet_form.no_lactose, "Dieta sense lactosa", read_only = read_only)}}
        {{ textarea(diet_form.comments, "Altres intoleràncies o al·lèrgies, o observacions que vulguis afegir", rows = 3, read_only = read_only)}}
      
        {% if not read_only %}
          {{ checkbox(diet_form.accept_conditions_diet, "Entenc que la cuina d'El Tingladu tindrà en compte les meves especificitats alimentàries, però es podrà garantir una adaptació completa a cada dieta",
              description = """
              Us demanem que:
              <br>
              - Si marques vegetarià o vegà, quan demaneu l'àpat, ho recordeu al voluntariat de cuina. 
              <br>
              - Si no has marcat vegetarià o vegà, no t'acullis a aquesta oferta el dia.
              <br>
              - Si tens alguna al·lèrgia o intolerància, confirmis amb el voluntariat de cuina que el plat que menges no conté aquest(s) ingredient(s). 
              """,
              read_only = read_only
            )
          }}
          {{ diet_form.submit(value="Actualitza la teva dieta", class='btn btn-success') }}
        {% endif %}
      {% else %}
        <p class="font-italic text-meal">No hi ha àpats assignats</p>
      {% endif %}
    </form>
    <hr />
    <a class="btn btn-secondary" href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
  </div>
</div>
{% endblock %}
