{% extends '_registered.html' %}

<!--
{% block admin_css %}
{% if user.id != volunteer.id %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Entrades{% endblock %}</h2>
    <h2><small class="text-muted">{{ volunteer.full_name }}</small></h2>
    <p>TODO</p>
    <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
  </div>
</div>
{% endblock %}
