{% extends '_registered.html' %}

{% from "_form_macros.html" import text with context %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h2>{% block title %}Canvi de contrasenya{% endblock %}</h2>
      <h2><small class="text-muted">{{ volunteer.full_name }}</small></h2>
      <form role="form" method='POST'>
        {{ form.csrf_token }}
        {{ text(form.old_password, placeholder="la teva contrasenya actual") }}
        {{ text(form.new_password, placeholder="la teva nova contrasenya") }}
        {{ text(form.confirm, placeholder="escriu de nou la teva nova contrasenya") }}
        <div class="btn-group">
          <a class="btn btn-secondary" href="/p/{{ volunteer.hashid }}/profile"> &#x3c;&#x3c; Torna enrera</a>
          {{ form.submit(class='btn btn-success') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
