{% extends '_registered.html' %}

<!--
{% block admin_css %}
{% if user.id != volunteer.id %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h3>{% block title %}Torns{% endblock %}</h3>
    <h3><small class="text-muted">{{ volunteer.full_name }}</small></h3>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
          <h4>{{task.name}}</h4>
          <h4><small>{{ task.description }}</small></h4>
        </li>
        {% for shift,taked,selected,user_comments in shifts_and_selected %}
          {% set disponibles = (shift.slots - taked) if shift.slots > 0 else 1 %}
          {% set no_accessible = disponibles <= 0 and not selected %}
        <li class="list-group-item {{'list-group-item-light' if no_accessible }}">
          <label for="{{shift.id}}-id" class="d-flex justify-content-start checkbox-with-user-comments">
            <div>
              {% if no_accessible %}
                <input id="{{shift.id}}-id-disabled" type="checkbox" disabled>
              {% else %}
                <input id="{{shift.id}}-id" name="shifts" type="checkbox" value="{{shift.id}}" {{'disabled' if read_only}} {{'checked' if selected }} >
              {% endif %}
            </div>
            <div class="flex-grow-1">
              <h5>{{shift.name}}</h6>
              <h5><small class="font-italic d-block">
                {{shift.description}}
              </small></h5>
              <h5>
                {% if shift.slots > 0 %}
                <span class="badge badge-info">llocs totals: {{shift.slots}}</span>
                  {% if no_accessible %}
                    <span class="badge badge-danger">sense llocs disponibles</span>
                  {% elif disponibles > 0%}
                    <span class="badge badge-success">llocs disponibles: {{disponibles}}</span>
                  {% else %}
                    <span class="badge badge-warning">llocs disponibles: 0</span>
                  {% endif %}
                {% endif %}
              </h5>
              <div class="form-group checkbox-user-comments text-right font-italic">
                <label for="user-comments-{{shift.id}}">Observacions sobre aquest torn</label>
                <textarea class="form-control" id="user-comments-{{shift.id}}" 
                  name="user-comments-{{shift.id}}" rows="2" {{'disabled' if read_only}}>{{ user_comments if user_comments is not none }}</textarea>
              </div>
            </div>
          </label>

        </li>
        {% endfor %}
      </ul>
      <br/>
      {% if form.password %}
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(placeholder='Aquesta tasca requereix una contrasenya',class='form-control',autocomplete='one-time-code') }}
          {% for error in form.password.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="btn-group">
        <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}/tasks"> &#x3c;&#x3c; Torna enrera</a>
        {% if not read_only %}
          {{ form.submit(class='btn btn-success') }}
        {% else %}
        <a class="btn btn-danger" href="/incidence">Notifica una incidència</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
