{% extends '_registered.html' %}

{% from "_form_macros.html" import text with context %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h3>{% block title %}Dades personals{% endblock %}</h3>
      <h3><small class="text-muted">{{ volunteer.full_name }}</small></h3>
      <form role="form" method='POST'>
        {{ form.csrf_token }}
        {{ text(form.name) }}
        {{ text(form.surname) }}
        {{ text(form.phone, placeholder="opcional, per tal millorar la comunicació") }}
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" value="{{volunteer.email}}" readonly disabled>
          <p class="text-right"><a href="/incidence">Per canviar l'email fes una incidència</a></p>
        </div>
        <div class="form-group">
          <label>Contrasenya</label>
          <input class="form-control" placeholder="la teva contrasenya" readonly disabled>
          <p class="text-right"><a href="/v/{{ volunteer.hashid }}/password">Per canviar la teva contrasenya fes click aquí</a></p>
        </div>
        <div class="form-group">
          {{ form.purchased_ticket1.label }}
          {{ form.purchased_ticket1(class='form-control', placeholder="localitzador de l'entrada 1 comprada") }}
          {% for error in form.purchased_ticket1.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
          {{ form.purchased_ticket2(class='form-control', placeholder="localitzador de l'entrada 2 comprada") }}
          {% for error in form.purchased_ticket2.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
          {{ form.purchased_ticket3(class='form-control', placeholder="localitzador de l'entrada 3 comprada") }}
          {% for error in form.purchased_ticket3.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
          {{ form.purchased_ticket4(class='form-control', placeholder="localitzador de l'entrada 4 comprada") }}
          {% for error in form.purchased_ticket4.errors %}
          <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="btn-group">
          <a class="btn btn-secondary" href="/v/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrera</a>
          {{ form.submit(class='btn btn-success') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
