{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <h2>{% block title %}Administració{% endblock %}</h2>
        <h2><small class="text-muted">Consulta i exportació de dades</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <th>Persones voluntàries i treballadores </th>
                    </tr>
                    <tr>
                        <td>
                            <p>Consulta les dades del voluntariat i de la resta de persones treballadores, i fes exportacions a excel.</p>
                            <a class="btn btn-dark bg-profile" href="/admin/people">
                                Administra les dades de les persones
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Alta d'una persona treballadora</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Dona d'alta una persona treballadora (seguretat, punt lila, so, etc), per poder assignar-li tasques, torns i apuntar-la als àpats.</p>
                            <p>Pot ser una persona treballadora o qualsevol altra persona que cal registrar però que no ho farà per si mateixa a l'aplicatiu.</p>
                            <a class="btn btn-dark bg-profile-light" href="/admin/worker">
                                Dona d'alta una persona treballadora
                            </a>
                            <br />
                            <br />
                            <p>També es poden donar d'alta diverses persones treballadores a la vegada.</p>
                            <a class="btn btn-dark bg-profile-light" href="/admin/workers">
                                Dona d'alta més d'una persona treballadora
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Tasques i torns</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Consulta les dades organitzades per les tasques i els seus torns i fes exportacions a excel.</p>
                            <a class="btn btn-dark bg-task" href="/admin/tasks">
                                Consulta les tasques i els torns
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Àpats i opcions de dieta</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Consulta les dades organitzades pels àpats i les opcions de dieta.</p>
                            <a class="btn btn-dark bg-meal" href="/admin/meals">
                                Consulta els àpats i les opcions de dieta
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Entrades i acreditacions</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Consulta les dades organitzades per les entrades i acreditacions assignades.</p>
                            <a class="btn btn-dark bg-ticket" href="/admin/tickets">
                                Consulta les entrades i acreditacions
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Tiquets de Consum</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Consulta les recompenses en forma de tiquets de consum assignades.</p>
                            <a class="btn btn-dark bg-ticket" href="/admin/rewards">
                                Consulta els tiquets de consum
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Enllaç d'invitació</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Mitjançant aquest enllaç les persones voluntàries es podran registrar a aquesta aplicació:</p>                            
                            <p><a href="#" data-toggle="tooltip" title="Fes click per copiar-ho" onclick="return copy_to_clipboard(this);">
                                {{invitation_url}}
                            </a></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Modificacions bloquejades</th>
                    </tr>
                    <tr>
                        <td>
                            {% if allow_modifications %}                          
                            Les persones voluntàries <span class="badge badge-success">poden modificar les dades</span> de tasques, torns, àpats, etc.
                            {% else %}
                            Les persones voluntàries <span class="badge badge-danger">no poden modificar les dades</span> de tasques, torns, àpats, etc.
                            {% endif %}
                        </td>
                    </tr>
                    <!-- <tr>
                        <th>Actualitza tiquets de consum i àpats</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Aquesta tasca pot trigar una estona i es convenient que ningú estigui modificant les dades mentre es fa.</p>
                            <a class="btn btn-warning" href="/admin/update-all-rewards">
                                Actualitza totes les recompenses
                            </a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <a class="btn btn-secondary" href="/dashboard"> &#x3c;&#x3c; Torna enrere</a>
    </div>
</div>  
{% endblock %}
