{% extends '_registered.html' %}

<!--
{% block admin_css %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endblock %}
-->

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Administració</h2>
        <h2><small class="text-muted">{% block title %}Persones voluntàries i treballadores{% endblock %}</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th>COGNOMS</th>
                        <th>NOM</th>
                        <th>ROL</th>
                        <th>REUNIÓ INFORMATIVA</th>
                        <th>MÒBIL</th>
                        <th>EMAIL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in volunteers %}
                    <tr>
                        <td><a href='/admin/p/{{v.hashid}}'>{{v.surname}}</a></td>
                        <td><a href='/admin/p/{{v.hashid}}'>{{v.name}}</a></td>
                        <td><a href='/admin/p/{{v.hashid}}'>{{v.role.name}}</a></td>
                        <td><a href='/admin/p/{{v.hashid}}'>{{v.informative_meeting}}</a></td>
                        <td><a href='/admin/p/{{v.hashid}}'>{{v.phone}}</a></td>
                        <td><a href='/admin/p/{{v.hashid}}'>{{v.email if not v.is_worker}}</a></td>
                    </tr>   
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% if not_confirmed %}
        <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
        <br /><br />
        <h2><small class="text-muted">Persones voluntàries pendents de completar el registre</small></h2>
        <div class="table-responsive">
            <table class="table table-light table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th>EMAIL</th>
                        <th>DNI</th>
                        <th>ROL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in not_confirmed %}
                    <tr>
                        <td><a href="mailto:{{v.email}}">{{v.email if not v.is_worker}}</a></td>
                        <td>{{v.dni}}</td>
                        <td>{{v.role.name}}</td>
                    </tr>   
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrere</a>
        {% else %}
        <div class="btn-group">
            <a class="btn btn-secondary" href="/admin"> &#x3c;&#x3c; Torna enrere</a>
            <a class="btn btn-primary" href="?excel=1">Descarrega en format Excel</a>
        </div>
        {% endif %}
    </div>
</div>  
{% endblock %}
