{% extends '_unregistered.html' %}

{% from "_form_macros.html" import text, textarea, checkbox with context %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h2>{% block title %}Confirmació del registre{% endblock %}</h2>
      <form role="form" method='POST'>
        {{ form.csrf_token }}
        {{ text(form.name, "Nom", placeholder="el teu nom") }}
        {{ text(form.surname, "Cognoms", placeholder="primer cognom i segon cognom") }}
        {{ text(form.phone, "Mòbil", placeholder="opcional, per tal millorar la comunicació") }}
        {{ checkbox(form.electrician, "Tens coneixements d'electricitat?", description="En alguns torns pot arribar a ser necessari fer alguna tasca que requereixi coneixements d'electricitat")}}
        <p><a target="_blank" href="/static/pdf/ACORD_VOLUNTARIAT_CANPISTRAUS_REVISAT_24.pdf">Acord de col·laboració voluntària amb El Tingladu</a></p>
        {{ checkbox(form.contract, "Accepto l'acord de col·laboració voluntària amb El Tingladu") }}
        <p><a target="_blank" href="/static/pdf/LOPD-i-RGPD-Voluntaris-El-Tingladu-APP_2024.pdf">Informació relativa a la protecció de les dades personals</a></p>
        {{ checkbox(form.data_protection, "En enviar aquest formulari, reconec que he llegit i comprès la informació relativa a la protecció de les dades personals i autoritzo el tractament de les meves dades personals per a la finalitat indicada, de conformitat amb la Llei Orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personals i garantia dels drets digitals (LOPDGDD) que compleix la normativa europea de protecció de dades personals continguda al Reglament (UE) 2016/679 del Parlament Europeu i del Consell, de 27 d'abril de 2016, relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la lliure circulació d'aquestes dades (RGPD)") }}
        <br />
        {{ text(form.email_confirmation, "Email", description="Torna a escriure el mateix email amb el que t'has registrat") }}
        {{ text(form.password, "Crea una contrasenya", placeholder="la teva contrasenya") }}
        {{ text(form.confirm, "Confirma la contrasenya creada", placeholder="escriu de nou la teva contrasenya") }}
        {{ checkbox(form.adult, "Soc major d'edat", description="Has de confirmar que ets major d'edat per poder col·laborar amb El Tingladu") }}
        <div class="btn-group">
          {{ form.submit(value="Confirma les dades", class='btn btn-success') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
