{% extends '_unregistered.html' %}

{% from "_form_macros.html" import text with context %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h1>{% block title %}Restaura la contrasenya{% endblock %}</h1>
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      {{ text(form.email, "Email", placeholder="el@teu.email") }}
      {{ form.submit(value="Restaura la contrasenya", class='btn btn-lg btn-warning') }}
    </form>
    <p>
      <!-- No tens un compte? <a href="/sign-up">Registra't</a>. -->
      <br />
      Recordes la teva contrasenya? <a href="/login">Entra</a>
      <br />
      Problemes, dubtes? <a href="/contact">Contacta amb nosaltres</a>
    </p>
  </div>
</div>
   
{% endblock %}
