{% extends '_registered.html' %}

{% set admin = request.path.startswith('/admin') %}

  <!--
{% block admin_css %}
{% if admin %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Tasques{% endblock %}</h2>
    <h2><small class="text-muted">
      {% if admin %} 
      <a href="/admin/p/{{ volunteer.hashid }}">{{ volunteer.full_name }}</a>
      {% else  %}
      {{ volunteer.full_name }}
      {% endif %}
    </small></h2>
    {% if informative_meeting_form %}
      <div class="list-group">
        <span class="list-group-item list-group-item-info">
          <h4>REUNIÓ INFORMATIVA BARRES</h4> 
          <p>Enguany hi ha un nou format d'acreditació i és molt important la teva assistència</p>
          <form class="form-inline" role="form" method='POST' action="/p/{{ volunteer.hashid }}/change-informative-meeting">
            {{ informative_meeting_form.csrf_token }}
            <div class="input-group input-group-sm">
              {{ informative_meeting_form.informative_meeting(class='form-control') }}
              <div class="input-group-append">
                {{ informative_meeting_form.submit(value="Canvia", class='btn btn-success') }}
              </div>
            </div>
          </form>
        </span>
      </div>
      <br />
    {% endif %}
    <div class="list-group">
      {% for t,n in tasks_and_number_of_shifts %}
        <a href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}/tasks/{{t.hashid}}" 
          class="list-group-item {% if n>0 %}list-group-item-success {% endif %}">
          <h4>{{t.name}}</h4> 
          <h4><small>{{t.description}}</small></h4>
          <h4><span class="badge badge-info">torns seleccionats: {{n}}</span></h4>
        </a>
      {% endfor %}
    </div>
    <br />
    <a class="btn btn-secondary" href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrere</a>
  </div>
</div>
{% endblock %}
