{% extends '_registered.html' %}

{% set admin = request.path.startswith('/admin') %}

<!--
{% block admin_css %}
{% if admin %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Tasques{% endblock %}</h2>
    <h2><small class="text-muted">
      {% if admin %} 
      <a href="/admin/p/{{ volunteer.hashid }}">{{ volunteer.full_name }}</a>
      {% else  %}
      {{ volunteer.full_name }}
      {% endif %}
    </small></h2>
    {% if volunteer.informative_meeting != "" %}
      <p class="text-right font-italic">
        Reunió informativa a la que t'has apuntat: <b class="text-task">{{ volunteer.informative_meeting }}</b>
        <br />
        Pots modificar aquesta informació al <a href="/p/{{ volunteer.hashid }}/profile#informative-meeting">teu perfil</a>
      </p>
    {% endif %}
    <div class="list-group">
      {% for t,n in tasks_and_number_of_shifts %}
        <a href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}/tasks/{{t.hashid}}" 
          class="list-group-item {% if n>0 %}list-group-item-success {% endif %}">
          <h4>{{t.name}}</h4> 
          <h4><small>{{t.description}}</small></h4>
          <h4><span class="badge badge-info">torns seleccionats: {{n}}</span></h4>
        </a>
      {% endfor %}
    </div>
    <br />
    <a class="btn btn-secondary" href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}"> &#x3c;&#x3c; Torna enrere</a>
  </div>
</div>
{% endblock %}
