{% extends '_registered.html' %}

{% set admin = request.path.startswith('/admin') %}
{% set back = request.args.get('back') %}

<!--
{% block admin_css %}
{% if admin %}
<link href="/static/css/voluntariat_app_admin.css" rel="stylesheet">
{% endif %}
{% endblock %}
-->

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-lg-7 col-xl-6">
    <h2>{% block title %}Torns{% endblock %}</h2>
    <h2><small class="text-muted">
      {% if admin %} 
      <a href="/admin/p/{{ volunteer.hashid }}">{{ volunteer.full_name }}</a>
      {% else  %}
      {{ volunteer.full_name }}
      {% endif %}
    </small></h2>
    {% if volunteer.informative_meeting != "" %}
      <p class="text-right font-italic">
        Reunió informativa a la que t'has apuntat: <b class="text-task">{{ volunteer.informative_meeting }}</b>
        <br />
        Pots modificar aquesta informació al <a href="/p/{{ volunteer.hashid }}/profile#informative-meeting">teu perfil</a>
      </p>
    {% endif %}
    <form role="form" method='POST'>
      {{ form.csrf_token }}
      <div class="list-group">
        <div class="list-group-item list-group-item-dark">
          <h4>{{task.name}}</h4>
          <h4><small>{{ task.description }}</small></h4>
        </div>
        {% for shift,taked,selected,comments,assignations,shift_assignations in shifts_and_selected %}
          {% set disponibles = (shift.slots - taked) if shift.slots > 0 else 1 %}
          {% set no_accessible = disponibles <= 0 and not selected and not user.is_admin %}
        <div class="list-group-item {{'list-group-item-light' if no_accessible }}">
          <label for="{{shift.id}}-id" class="d-flex justify-content-start checkbox-with-hidden-texarea">
            <div>
              {% if no_accessible %}
                <input id="{{shift.id}}-id-disabled" type="checkbox" disabled>
              {% else %}
                <input id="{{shift.id}}-id" name="shifts" type="checkbox" value="{{shift.id}}" {{'disabled' if read_only}} {{'checked' if selected }} >
              {% endif %}
            </div>
            <div class="flex-grow-1">
              <h5>{{shift.day if shift.day else task.name }}</h6>
              <h5><small class="font-italic d-block">{{shift.description}}</small></h5>
              <h5>
                {% if shift.slots > 0 %}
                <span class="badge badge-info">llocs totals: {{shift.slots}}</span>
                  {% if no_accessible %}
                    <span class="badge badge-danger">sense llocs disponibles</span>
                  {% elif disponibles > 0%}
                    <span class="badge badge-success">llocs disponibles: {{disponibles}}</span>
                  {% else %}
                    <span class="badge badge-warning">llocs disponibles: 0</span>
                  {% endif %}
                {% endif %}
              </h5>
              <div class="form-group hidden-texarea">
                <div class="text-right font-italic" >
                  <label for="user-comments-{{shift.id}}">
                    Indica, si escau, amb quines persones properes t'agradaria compartir torn o altres observacions
                  </label></div>
                <textarea class="form-control" id="user-comments-{{shift.id}}" 
                  name="user-comments-{{shift.id}}" rows="2" {{'disabled' if read_only}}>{{ comments if comments is not none }}</textarea>

                {% if shift_assignations %}
                <h4>
                {% for assigned in shift_assignations %}
                  {% if assigned %}
                  <span class="badge badge-dark">{{assignations[loop.index0]}}</span>
                  {% endif %}
                {% endfor %}
                </h4>
                {% endif %}
              </div>

            </div>
          </label>

        </div>
        {% endfor %}
      </div>
      <br />
      {% if form.password %}
        <div class="form-group">
          {{ form.password.label("Contrasenya per apuntar-se a aquesta tasca") }}
          {{ form.password(placeholder='Aquesta tasca requereix una contrasenya',class='form-control') }}
          {% for error in form.password.errors %}
            <p class="form-error">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="btn-group">
        {% if admin and back %}
        <a class="btn btn-secondary" href="{{ back }}"> &#x3c;&#x3c; Torna enrere</a>
        {% else %}
        <a class="btn btn-secondary" href="{{'/admin' if admin}}/p/{{ volunteer.hashid }}/tasks"> &#x3c;&#x3c; Torna enrere</a>
        {% endif %}
        {% if not read_only %}
          {{ form.submit(value="Actualitza els teus torns", class='btn btn-success') }}
        {% endif %}
      </div>
    </form>
    {% if day %}
    <div>
      <br />
      <img src="/static/img/days/{{day}}.jpg" alt="{{day}}" class="mx-auto d-block img-fluid" />
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
